@{
    ViewData["Title"] = "Item - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Details</h2>
    <p>@Model["item"].Description</p>
    <p>Category: @Model["category"].Name</p>

    <p>@Html.ActionLink("Edit", "Edit", new { id = @Model["item"].ItemId }) | @Html.ActionLink("Back to List", "Index")</p>
